.product {
  padding-bottom: 50px;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__list {
  display: none;
}

.product__text {
  margin: 0;
  line-height: 18px;
}

.product__about {
  margin-bottom: 20px;
}

.product__title {
  display: none;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .product__visual {
    display: flex;
    justify-content: flex-start;
    width: 53.5%;
  }

  .product__image {
    margin: 0;
    width: 290px;
    height: 420px;
  }

  .product__list {
    display: flex;
    flex-direction: column;
    @include reset-list;
    order: -1;
  }

  .product__item {
    margin-bottom: 20px;
  }

  .product__content {
    width: 41%;
  }

  .product__title {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .product__group-content {
    display: flex;
    flex-direction: column;
  }

  .product__about {
    order: 0;
  }

  .product__text {
    font-size: 13px;
    padding-right: 7px;
  }
}
