/* light 300 */
@font-face {
  font-family: "Circle";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe_300.woff2") format("woff2"),
    url("../fonts/circe_300.woff") format("woff");
}

/* semi bold 600 */
@font-face {
  font-family: "Circle";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe_600.woff2") format("woff2"),
    url("../fonts/circe_600.woff") format("woff");
}

/* bold 700 */
@font-face {
  font-family: "Circle";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe_700.woff2") format("woff2"),
    url("../fonts/circe_700.woff") format("woff");
}
