html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: $primary-colour;
  background-color: #ffffff;
  margin: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
